/*
    Styling for the popup
*/
.popup{
    background: white;
}
.popup iframe{
    width:325px;
    height:325px;
}
.popupX{
    position: absolute;
    z-index: 5;
    font-size: 1.8em;
    cursor: pointer;
}
iframe{display: inline-block;}